---
layout: layout.liquid
---

<section id="event-details">

	<h1>{{ announcement.title }}</h1>
  <p>{{ announcement.dateUpdated | dateString }}</p>

	{{ content }}

</section>

<a href="/" class="btn"><< Back Home</a>
