<section id="banner" class="full-width">
	<div id="banner-text-container">
		<div id="banner-title">Live Jazz Dayton</div>
		<div id="banner-subtitle">...for all the real jazz events happening around Dayton, Ohio!</div>
	</div>
	{% include nav %}
</section>

