<section id="banner" class="full-width">
	<div id="banner-title">Live Jazz Dayton</div>
	<div id="banner-subtitle">...where you will find all the great live jazz events happening around Dayton, Ohio!</div>
	<div id="last-update">Last update: {{ | lastUpdated }}</div>
</section>

