<section id="banner" class="full-width">
	<div id="banner-title">Live Jazz Dayton</div>
	<div id="banner-subtitle">...for all the real jazz events happening around Dayton, Ohio!</div>
	<br>
	<div id="last-update">Last update: {{ | lastUpdated }}</div>
</section>

