<footer id="site-footer">
  <div id="footer-container">
    <small>© 2022 Shohei Shibata.</small>
    <div class="footer-link-logos-container">
      <a class="footer-link-logos" href="https://github.com/shohei-shibata/livejazzdayton">
        <i class="fa-brands fa-github"></i>
      </a>
      <a class="footer-link-logos" href="https://www.linkedin.com/in/shohei-shibata-53867a41/">
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a class="footer-link-logos" href="https://www.upwork.com/freelancers/~0151a5896633235bcc">
        <iconify-icon icon="simple-icons:upwork"></iconify-icon>
      </a>

    </div>
  </div>
</footer>
