<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Live Jazz Dayton | {{ title }}</title>
  <meta name="description" content={{ description }}>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Barlow&family=Rubik+Dirt&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/style.css"> 
  <link rel="stylesheet" type="text/css" href="/assets/typography.css"> 
  <link rel='shortcut icon' type='image/x-icon' href='/assets/favicon.ico'>
</head>
