<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Live Jazz Dayton | {{ title }}</title>
  <meta name="description" content="{{ description }}">
  {% if noindex == "true" %}
    <meta name="robots" content="noindex">
  {% endif %}
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"> 
  <link rel="stylesheet" type="text/css" href="/assets/typography.css"> 
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-DZMSQLFM6Q"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-DZMSQLFM6Q');
  </script>
</head>
