<!DOCTYPE html>
<html lang="en">
  {% include head.liquid %}
  <body>
    {% include nav %}
		{% include banner %}
    <main>
      {{ content }}
    </main>
    {% include footer %}
  </body>
</html>
