<!DOCTYPE html>
<html lang="en">
  {% include head.liquid %}
  <body>
		{% include banner %}
    <main>
      {{ content }}
    </main>
    {% include footer %}
  </body> 
  <link href="https://fonts.googleapis.com/css2?family=Barlow&family=Rubik+Dirt&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/d2a533daa7.js" crossorigin="anonymous"></script>
  <script src="https://code.iconify.design/iconify-icon/1.0.0/iconify-icon.min.js"></script>
</html>
