<form name="newsletter-sign-up" action="/success" method="post" class="form-footer">
    <div class="form-field-container">
        <label for="email">Email*</label>
        <input type="email" autocapitalize="off" autocorrect="off" name="email" required>
    </div>
    <div class="form-field-container">
        <label for="first-name">First Name*</label>
        <input type="text" name="first-name" autocomplete="off" required>
    </div>
    <div class="form-field-container">
        <label for="last-name">Last Name</label>
        <input type="text" name="last-name" autocomplete="off">
    </div>
    <input type="submit" class="btn" name="submit" value="Subscribe">
</form>
