<form
  action="https://buttondown.email/api/emails/embed-subscribe/livejazzdayton"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/livejazzdayton', 'popupwindow')"
  class="newsletter-signup-form"
>
  <div class="input-group">
    <label for="bd-name">Name</label>
    <input type="text" name="metadata__name" id="bd-Name" class="input" required>
  </div>
  <div class="input-group">
    <label for="bd-email">Email</label>
    <input type="email" name="email" id="bd-email" class="input" required/>
  </div>
  <input type="submit" value="Subscribe" class="btn"/>
</form>
