---
import PageLayout from "../../layouts/PageLayout.astro";
---

<PageLayout title="Success!">
  <section>
    <p>
      The contact form has been submitted. I'll get back to you as soon as I can!
    </p>
    <p>Thanks!</p>
    <p>Shohei</p>
  </section>
</PageLayout>

<style>
</style>
