---
import Layout from "../layouts/Layout.astro";
import EventListingShort from "../components/EventListingShort.astro";

import { getCollection } from "astro:content";
import VenueCard from "../components/VenueCard.astro";
import MusicianCard from "../components/MusicianCard.astro";
const allVenues = await getCollection("venue");
const allMusicians = await getCollection("musician");
---

<Layout title="Home">
  {/* <section>
    <h1 class="section-title">News</h1>
    <p class="text-center">Announcements</p>
  </section> */}
  <section>
    <h1 class="section-title">Upcoming Events</h1>
    <EventListingShort/>
    <div class="btn-container">
      <a class="btn-sm" href="/events">View More</a>
    </div>
  </section>
  <section>
    <h1 class="section-title">Venues</h1>
    <ul class="cards-container">
      {allVenues.map(venue => (
        <VenueCard venue={venue}/>
      ))}
    </ul>
  </section>
  <section>
    <h1 class="section-title">Musicians</h1>
    <ul class="cards-container">
      {allMusicians.map(musician => (
        <MusicianCard musician={musician}/>
      ))}
    </ul>
  </section>
</Layout>

<style>
  .cards-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    gap: var(--space-2xl);
    padding: 0;
  }
</style>