---
import PageLayout from "../../layouts/PageLayout.astro";
---

<PageLayout title="Thanks!">
  <section>
    <p>
      Your response has been submitted.
    </p>
    <p>Thanks!</p>
    <p>Shohei</p>
  </section>
</PageLayout>

<style>
</style>
