---
import PageLayout from "../../../layouts/PageLayout.astro";
---

<PageLayout title="Success!">
  <section>
    <p>
      The event form has been submitted. After review, I will either publish it or reach out to you with questions.
    </p>
    <p>Thanks!</p>
    <p>Shohei</p>
  </section>
</PageLayout>

<style>
</style>
