---
const { musician } = Astro.props;
const { name, website, cover, title } = musician.data
---
<li class="item" style={{backgroundImage: `url(${cover?.src})`}}>
  <a href={website} target="_blank">
    <h1>{name}</h1>
    <p class="title">{title}</p>
  </a>
</li>

<style>
  h1 {
    font-family: var(--font-logo);
    color: var(--white);
    font-size: var(--text-xl);
    margin: 0;
    text-shadow: #00000055 0px 4px 12px;
  }
  .title {
    color: var(--white);
    font-weight: bold;
    margin: 0;
    text-shadow: #00000055 0px 4px 12px;
  }
  .item {
    list-style-type: none;
    margin: var(--space-2xl) 0;
    background-size: cover;
    border-radius: var(--radius-sm);
  }
  .item a {
    text-decoration: none;
    color: var(--color-text-primary);
    background-color: #ffffff33;
    padding: var(--space-2xl);
    border-radius: var(--radius-sm);
    box-shadow: var(--box-shadow-light);
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
  }
  .item a:hover {
    background-color: #ffffff55;
    box-shadow: var(--box-shadow);
  }
  @media screen and (max-width: 768px) {
    .item a {
      grid-template-columns: 1fr;
    }
  }
</style>