:root {
	--banner-height: 250px;
	--nav-height: 50px;
	--color-font-light: #fff;
	--color-font-dark: #111;
	--color-calendar-red: #dd3436;
	--color-background: #CBBEB9;
	--color-btn: #EE5108;
	--color-banner-1: #311A19;
	--color-banner-2: #4E251F;
	--color-background-footer: #4E251F;
}

html, body {
	margin: 0;
	padding: 0;
	background-color: var(--color-background);
	color: var(--color-font-dark);
}
.btn {
	text-decoration: none;
	color: var(--color-font-light);
	background-color: var(--color-btn);
	padding: 10px 15px;
	border-radius: 5px;
	font-weight: bold;
	width: 150px;
	text-align: center;
	box-shadow: 0 2px 3px rgb(0 0 0 / 40%);
	border-width: 0;
}
.btn-inline {
	margin-left: 20px;
}
.align-right {
	display: flex;
	justify-content: flex-end;
}
.float-right {
	float: right;
}
.clear-both {
	clear: both;
}
nav {
	height: var(--nav-height);
	margin: 0 10px;
	z-index: 1000;
}
#nav-container ul {
	display: flex;
	padding-left: 0;
	justify-content: center;
}
#nav-container li {
	list-style-type: none;
	margin: 0 10px;
}
#nav-container a {
	color: var(--color-font-light);
	text-transform: uppercase;
	text-decoration: none;
}
#header-title a {
	text-decoration: none;
}
.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

/*        */
/* BANNER */
/*        */

#banner {
	background-color: #222;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: var(--color-font-light);
	background-image:
    radial-gradient(
      var(--color-banner-1),
      var(--color-banner-2)
    );
}
#banner-text-container {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
}

/*        */
/*  MAIN  */
/*        */
main {
	margin: 50px auto;
	max-width: 800px;
	min-height: 70vh;
}

/*        */
/* FOOTER */
/*        */

footer {
	background-color: var(--color-background-footer);
	color: var(--color-font-light);
	text-align: center;
	padding: 10px 0;
}

/*             */
/* EVENT CARDS */
/*             */

/*.events-list {
	display: flex;
}*/

.event-card {
	display: flex;
	background-color: #fff;
	text-decoration: none;
	margin: 35px 10px;
	transition: transform 0.3s;
	color: #000;
	border-radius: 10px;
}

.event-card:hover {
	transform: translate(-10px);
	opacity: 0.95;
}

.event-card-image {
	background-color: #555;
	width: 300px;
	height: 300px;
	overflow: hidden;
	border-radius: 10px 0 0 10px; 
}

.event-card-image picture img {
	object-fit: cover;
	width: 300px;
	height: 300px;
}

.event-card-date {
	background-color: transparent;
	width: 90px;
	height: 90px;
	margin-top: -10px;
	margin-left: -10px;
	margin-right: -80px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	text-align: center;
	z-index: 100;
	border-radius: 10px;
	box-shadow: 1px 1px 3px #444;
}

.event-card-date-month {
	margin: 0;
	padding: 5px 0;
	width: 100%;
	background-color: var(--color-calendar-red);
	color: #fff;
	height: 30px;
	border-radius: 10px 10px 0 0;
}

.event-card-date-date {
	background-color: #fff;
	padding: 5px 0;
	width: 100%;
	font-size: 1.5rem;
}
.event-card-date-day {
	background-color: #fff;
	padding: 5px 0;
	width: 100%;
	border-radius: 0 0 10px 10px;
	font-size: 0.8rem;
}

.event-card-grid-container {
	display: grid;
	grid-template-columns: 300px 1fr;
}

.event-card-text {
	margin-top: 20px;
	padding: 20px 30px;
	max-width: 450px;
}

/* FORM */

form {
	background-color: #fff;
	color: #111;
	padding: 10px 20px;
	max-width: 600px;
	margin: 50px auto;
}
form h3 {
	text-align: center;
}
form h3::before {
	content: "-- ";
}
form h3::after {
	content: " --";
}
form .form-field-container {
	display: grid;
	grid-template-columns: 200px 1fr;
	margin: 10px auto;
}
label {
	display: block;
}
input, textarea {
	display: block;
	box-sizing: border-box;
	width: 100%;
	padding: 5px;
}
input.btn {
	margin: 20px auto;
}
input[type="file"] {
	padding: 0;
}

/* EVENTS ARCHIVE */

#pagination {
  display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin: 20px auto 50px auto;
}
#pagination-current-page {
	text-align: center;
}
#pagination-link-next {
	text-align: right;
}
