---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";

const { title } = Astro.props;
const siteTitle = import.meta.env.PUBLIC_SITE_TITLE;
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link href="https://fonts.googleapis.com/css2?family=Barlow&family=Rubik+Dirt&display=swap" rel="stylesheet">
    <meta name="generator" content={Astro.generator} />
    <title>{siteTitle} | {title}</title>
  </head>
  <body>
    <Nav/>
    <div class="main-content">
      <slot/>
    </div>
    <Footer/>
  </body> 
</html>

<style is:global>
  :root {
    --font-logo: "Rubik Dirt", sans-serif;
    --font-heading: "Barlow", sans-serif;
    --font-text: sans-serif;

    --background-color-primary: #eee;
    --background-color-secondary: #ddd;
    --background-color-code: #333;
    --color-border: #aaa;
    --color-cards-bg: #fff;
    --color-cards-shadow: #ddd;
    --color-text-primary: #222;
    --color-text-secondary: #555;
    --width-body: 900px;
    --width-main-content: 700px;
    --mobile-nav-height: 75px;
      
    /* colors */
    --black-fade-5: rgba(0, 0, 0, 0.05);
    --black-fade-40: rgba(0, 0, 0, 0.4);
    --grey-90: #232129;
    --grey-50: #555;
    --grey-20: #efefef;  
    --green-80: #088413;
    --green-50-rgb: 55, 182, 53;
    --white: #ffffff;
    --yellow: #dcab4e;

    /* radii */
    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-rounded: 999px;

    /* spacing */
    --space-sm: 4px;
    --space-md: 8px;
    --space-lg: 16px;
    --space-xl: 20px;
    --space-2xl: 24px;
    --space-3xl: 48px;

    /* line-height */
    --solid: 1;
    --dense: 1.25;
    --default: 1.5;
    --loose: 2;

    /* letter-spacing */
    --tracked: 0.075em;
    --tight: -0.015em;

    /* font-weight */
    --body: 400;
    --medium: 500;
    --semibold: 600;
    --bold: 700;

    /* font-size */
    --text-xs: 12px;
    --text-sm: 14px;
    --text-md: 16px;
    --text-lg: 18px;
    --text-xl: 20px;
    --text-2xl: 24px;
    --text-3xl: 32px;

    /* shadow */
    --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  html {
    background-color: var(--grey-20);
  }
  body {
    font-family: var(--font-text);
    max-width: var(--width-body);
    margin: auto;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    font-weight: var(--bold);
  }
  p {
    line-height: var(--text-2xl);
  }
  .logo {
    font-family: var(--font-logo);
    font-size: var(--text-3xl);
  }
  .box {
    background-color: var(--grey-90);
    color: var(--white);
    border-radius: var(--radius-md);
    padding: var(--space-xl);
    margin: var(--space-xl) 0;
    box-shadow: var(--box-shadow);
  }
  .main-content {
    width: var(--width-main-content);
    margin: var(--space-3xl) auto;
  }
</style>