---
import Layout from "./Layout.astro";

const { title } = Astro.props;
---

<Layout title={title}>
  <div class="page-banner">
    <h1 class="section-title">{title}</h1>
  </div>
  <section>
    <slot />
  </section>
</Layout>
