---
import Layout from "../../layouts/Layout.astro";
import { 
  getAllFutureEvents
} from "../../utils/trello.js";

export async function getStaticPaths() {
  return (await getAllFutureEvents()).map(event => {
    return {
      params: {
        slug: event.slug
      },
      props: {
        ...event
      }
    }
  });
};

const { name, description, locationName, locationAddress, start, end, duration, artists, links, slug } = Astro.props;

---

<Layout title={name}>
  <h1>{name}</h1>
</Layout>