---
import Layout from "../../layouts/Layout.astro";
import { 
  getAllFutureEvents
} from "../../utils/trello.js";

const allEvents = await getAllFutureEvents();
---

<Layout title="Home">
  <h1>Events</h1>
  <ul>
    {allEvents.map(event => (
      <li><a href={`/events/${event.slug}`}>{event.name}</a></li>
    ))}
  </ul>
</Layout>