---
import Layout from "../../layouts/Layout.astro";
import EventListing from "../../components/EventListing.astro";
---

<Layout title="Home">
  <section>
    <h1 class="section-title">Upcoming Events</h1>
    <EventListing/>
    <div class="btn-container">
      <a class="btn-sm" href="#">Back to Top</a>
    </div>
  </section>
</Layout>