---
import Layout from "../../layouts/Layout.astro";
import EventListing from "../../components/EventListing.astro";
---

<Layout title="Home">
  <section>
    <h1 class="section-title">Full Event Listing</h1>
    <EventListing/>
    <p>Do you know of an event that isn't listed? Please <a href="/events/submit">submit an event.</a></p>
    <div class="btn-container">
      <a class="btn-sm" href="#">Back to Top</a>
    </div>
  </section>
</Layout>